*{
    margin: 0;
    padding: 0;
    
}

.wrapper{
    height: 100%;
    margin: 0px;
    max-height: 8000px;
}

.header{
    max-height: 111px;
    padding-top: 20px ;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;

}

.header_logo, .header_text{
    display: inline-block;
    vertical-align: middle;
}

.header_text{
    padding-top: 20px;
}

.header_logo img{
    height: 80px;
    width: 125px;
}

.header_text li{
    
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}

.header_text a:hover{
    color:#b6afaf
}

.header_text a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 43px;
    color: #FFFFFF;
    text-decoration: none;
    vertical-align: middle;
 
}

header, .first_page{
    background: url(png/background.png)
}


.header_menu{
    display: none;
    right: 15px;
    top: 25px;
    margin-right: 10px;
    margin-top: 25px;
}

.header_menu a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}

.header_menu nav{
    display: flex;
    flex-direction: column;
}

.header_menu input{
    width: 25px;
    height: 25px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    text-align: center;
    border-radius: 5px;
    color: rgb(41, 41, 41);
}

.header_menu input:before{
    content: '\f0c9';
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 1.8em;
    z-index: 10;
    color: #ffffff;
}

.header_menu input:checked:before{
    content: '\f00d';
    animation: anim 1s;
}
@keyframes anim{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

.header_menu input::after {
    content: '';
    position: absolute;
    top: -15%;
    left: -20%;
    width: 140%;
    height: 120%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    z-index: -1;
}

.header_menu nav{
    position: absolute;
    margin-top: 15px;
}

.header_menu nav a{
    transform: translate(100px);
    text-align: center;
    padding: 5px 20px;
    background: rgb(42, 42, 42);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    margin: 5px 0;
    transition: transform calc(var(--i) * 0.2s), background .4s;

}

.header_menu input:checked ~ nav a{
    transform: translate(-80px);
}

.header_menu nav a:hover{
    background: #006bb8;
    box-shadow: 0 0 15px #0662a3;
}


.first_content{
    padding-top: 485px;
    padding-left: 8%;

}

.first_page{
    height: 1100px;
    vertical-align: middle;
}

.first_page h1{
    margin-bottom: 133px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: white;
}

.first_page p{
    width: 664px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    color: white;
}

.news_page{
    padding-top: 150px;
 
}



.news_page li, .full_news{
    padding-left: 5%;
    padding-right: 5%; 
    display: flex;
    justify-content: space-between;
    margin-bottom: 165px;
}

.news_page img{
    width: 600px;
    height: 315px;
}

.news_content{
    padding-left: 30px;
    padding-right: 30px;
}

.media_news {
    display: none;
}

.news_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 61px;
}

.news_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 43px;
}

.match_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 61px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.match_page{
    margin-bottom: 40px;
}

.match_content{
    margin-bottom: 70px;
}

.match_table{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.right_text{
    margin-top: 10px;
    margin-left: 10%;
    width: 750px;
    height: 240px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 43px;

}

.left_text{
    margin-top: 10px;
    margin-right: 10%;
    width: 750px;
    height: 260px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 43px;
}

.stick{
    margin-left: 5%;
    margin-right: 5%;
    height: 260px;
    border-radius: 2px;
    width: 4px;
    background-color: black;
}

.match_content{
    display: flex;
    justify-content: center;
}   

.match_image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.team_text{
    margin-right: 10%;
    margin-left: 10%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 43px;
    text-align: center;
}

.transfer_page{
    margin-bottom: 70px;
}

.transfer_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 61px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.transfer_vid{
    display: flex;
    justify-content: center;
}

.buy_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 61px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.buy_cards{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}

.card{
    margin-right: 50px;
    width: 300px;
    height: 500px;
    z-index: 10;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all .5s;
}


.card h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 61px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    transform: scale(1);
    transition: all .5s;
}

.card a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 61px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    text-decoration: none;
    color: #313131;
}

.main a{
    color: #ffffff;
}

.card p{
    padding: 5px 30px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 43px;
    transform: scale(1);
    transition: all .5s;
}

.main{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #4da2dbef;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.212);
    transform: scale(0);
    z-index: -1;
    border-radius: 10px;
    transition: all .5s;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover{
    color: rgb(63, 63, 63);
}

.card:hover .main{
    transform: scale(1);
}

.card:hover p{
    transform: scale(0);

}

.card:hover h1{
    transform: scale(0);
}

.black, .white {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #006bb8;
    transform: translate(15px, 15px);
    border-radius: 10px;
    z-index: -2;
}

.white{
    background: #ebebeb;
    transform: translate(-15px, -15px);
}

.form_page h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 61px;
    display: flex;
    justify-content: center;
}


.form_box{
    margin-top: 170px;
    position: relative;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #006bb8;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.512);

}

.user_box{
    position: relative;
}

.user_box input{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.user_box label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
    transition: .5s;
}

.form_box .user_box input:focus ~ label,
.form_box .user_box input:valid label{
    top: -20px;
   left: 0;
   color: #0e153a;
   font-size: 12px; 
}

.form_button{
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid #ffffff;
    border-radius: 10px;
}

.form_button:hover {
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow: 
        0 0 5px #5ddcff,
        0 0 10px #cccccc;
    }
    
}

.footer{
    background: #E5E5E5;
    height: 200px;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;

}

.footer_logo, .footer_text{
    display: inline-block;
    vertical-align: bottom;
}

.footer_logo img{
    margin-top: 60px;
    height: 80px;
    width: 125px;
}

.social_icon{
    display: flex;
    justify-content: center;
}

.social_icon img{
    height: 70px;
    width: 70px;
    margin: 5px;
}

.footer_text{
    margin-top: 140px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    color: #000000;
    text-decoration: none;
}

.footer_social p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
}

.footer_social{
    margin-top: 40px;
}



@media only screen and (max-width:1180px) {
    

    .full_news{
        display: none;
    }

    .media_news{
        display: block;
    }

    .image_container{
        display: flex;
        justify-content: center;
    }

    .news_page li{
        padding-left: 5%;
        padding-right: 5%;
        display: block;
        margin-bottom: 165px;
    }

    .news_page{
        display: flex;
        justify-content: center;
    }

    .news_title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 61px;
        text-align: center;
    }
    
    .news_text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 43px;
        text-align: center;

    }
}

@media only screen and (max-width: 980px) {
    
    .buy_cards{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5%;
        margin-right: 5%;
        display: block;

    }

    .card_text{
        margin-bottom: 5%;
    }

    .card{
        margin-right: 0px;
        margin-bottom: 100px;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .card_container{
        display: flex;
        justify-content: center;
    }

}


@media only screen and (max-width: 900px) {
    
    .footer_social p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 45px;
    }

    .social_icon img{
        height: 50px;
        width: 50px;
        margin: 5px;
    }

    .match_content{
        display: block;
    } 

    .right_text{
        margin-top: 10px;
        margin-left: 0px;
        width: 750px;
        height: 240px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 43px;
        text-align: center;
    }
    
    .left_text{
        margin-top: 10px;
        margin-right: 0px;
        width: 750px;
        height: 260px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 43px;
        text-align: center;

    }

    .match_container{
        display: flex;
        justify-content: center;
    }
    
    .stick{
        height: 0px;
        border-radius: 0px;
        width: 0px;
    }

    .first_page {
        display: flex;
        justify-content: center;
    }

    .first_page h1{
        width: 100%;
        text-align: center;
    }
    
    .first_content{
        padding-top: 485px;
        padding-left: 0%;
    
    }

    .first_page p{
        text-align: center;
        padding-left: 0 px;
    }
}





@media only screen and (max-width: 750px){

    .first_content{
        width: 80%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .first_content p{
        width: 100%;
    }

    .image_container img{
        height: 100%;
        width: 100%;
    }

    .match_table img{
       width: 96%;
    }

    .match_content{
        width: 100%;
    }

    .left_text{
        width: 96%;
        height: 50%;
        margin-left: 2%;
        margin-right: 2%;

    }

    .right_text{
        width: 96%;
        height: 50%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 0%;
    }

    .match_image img{
        width: 100%;

    }

    .news_page li {
        padding: 0;
        margin-bottom: 5%;
    }

    .header_text{
        display: none;
    }

    .wrapper {
        overflow: hidden;
        position: relative;
    }

    .header_menu{
        display: block;
    }

    .header_menu a{
        font-size: 40px;
    }

    .header_menu nav{
        position: absolute;
        width: 90%;
        height: 300px;
        margin-top: 35px;
    }
    
    .header_menu nav a{
        margin: 5px 0;
        transition: transform calc(var(--i) * 0.2s), background .4s;
    }

    .header_menu input:checked ~ nav a{
        transform: translate(-97%);
    }

    .transfer_vid video{
        width: 95%;
        height: 100%;
    }

    .card_text {
        margin-bottom: 30px;
    }
    

}

@media only screen and (max-width: 600px){

    .first_content p{
        display: none;
    }

    .footer_text p{
        display: none;
    }


}

@media only screen and (max-width: 500px){

    .header_menu input:checked ~ nav a{
        transform: translate(-95%);
    }

    .form_box{
        width: 90%;
    }
    
    .form_box a{
        display: flex;
        justify-content: center;
    }

    .team_text{
        margin-right: 1%;
        margin-left: 1%;
    }

}

@media only screen and (max-width: 400px){

    .card_text ul{
        display:none;
    }

    .card_text h1{
        margin-bottom: 20px;

    }

    .card_text {
        margin-bottom: 0;
    }

    .card{
        margin-bottom: 40px;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .footer_logo{
        display: none;
    }

    .footer{
        display: flex;
        justify-content: center;
    }

    .news_content{
        padding-right: 1%;
        padding-left: 1%;
    }

    .header_menu input:checked ~ nav a{
        transform: translate(-93%);
    }
    
    .team_text{
        font-size: 15px;
    }

    .right_text{
        font-size: 18px
    }

    .left_text {
        font-size: 18px;
    }
    
    .first_content h1{
        font-size:35px; 
    }
}

@media only screen and (max-width: 320px){

   .team_text{
       display: none;
   }

   .news_text{
        line-height: 0px;
    }   

    .header_menu input:checked ~ nav a{
        transform: translate(-90%);
    }

    .transfer_vid video{
        width: 100%;
    }

    .right_text{
        font-size: 15px;
    }

    .left_text{
        font-size: 15px;
    }


    .header_menu a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100;
        font-size: 25px;
    }
}

@media only screen and (max-width: 310px){

   .wrapper {
        max-height: 100%;
   }
}
